{{- define "main" }}
<header class="page-header">
  <h1>{{ .Title }}</h1>
  {{- if .Content }}
  <div class="post-content til-intro">{{ .Content }}</div>
  {{- end }}
</header>

{{- $quotePages := where site.RegularPages "Section" "quotes" }}
{{- $quotePages = $quotePages.ByDate.Reverse }}

<div class="quote-list">
  {{- range $quotePages }}
  {{- $page := . }}
  <article class="quote-entry">
    <div class="quote-content">{{ .Content }}</div>
    <div class="quote-attribution">
      {{- with .Params.author }}
      {{- $author := . }}
      {{- if reflect.IsSlice $author }}{{ $author = delimit $author ", " }}{{ end }}
      {{- with $page.Params.source }}<a class="quote-author" href="{{ . }}" target="_blank" rel="noopener">{{ $author }}</a>{{ else }}<span class="quote-author">{{ $author }}</span>{{ end }}
      {{- end }}
      {{- with .Params.source }}<a class="quote-source" href="{{ . }}" target="_blank" rel="noopener">source</a>{{ end }}
      <span class="quote-date">{{ .Date.Format "2 January 2006" }}</span>
      <a class="quote-permalink" href="{{ .Permalink }}">#</a>
    </div>
  </article>
  {{- end }}
</div>
{{- end }}
